.App {
  text-align: center;
  background-color: hsl(235, 21%, 11%);
  background-size: cover;
  min-height: 100vh;
}
.Applight{
  text-align: center;
  background-color:  hsl(0, 90%, 98%);
  background-size: cover;
  min-height: 100vh;
}
.bgdark{
  width: 100%;
  height: 40vh;
}
.bglight{
  width: 100%;
  height: 40vh;
}
.maincontainer{
  display: flex;
  justify-content: center;
  position: relative;
  top: -25vh;
}
.subcontainer{
  width: 600px;
  height: 540px;
}
.topcont{
  display: flex;
  justify-content: space-between;
}
.logo{
  font-family: "Montserrat", sans-serif;
  font-weight: 505;
  font-size: 38px;
  color: white;
  letter-spacing: 15px;
}
.chngbutton{
  background-color: transparent;
  border: none;
}
.inputbox1{
  margin-top: 35px;
  margin-bottom: 80px;
  width: 600px;
  display: flex;
  flex-direction: column;
}

/* input box */
.inputbox{
  width: 538px;
  height: 60px;
  border-radius: 4px;
  border: none;
  background-color: hsl(235, 24%, 19%);
  padding-left: 60px;
  color: hsl(0, 0%, 98%);
  font-family: "Josefin Sans" sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.inputbox::placeholder{
    color: hsl(233, 14%, 35%);
    font-family: "Josefin Sans" sans-serif;
    font-weight: 400;
    font-size: 18px;
  }
.inputbox:focus{
  outline: none;
  border: none;
}

/* toggle light and dark mode */
.inputboxl{
  width: 538px;
  height: 60px;
  border-radius: 4px;
  border: none;
  background-color: hsl(0, 0%, 98%);
  padding-left: 60px;
  color: hsl(237, 14%, 26%);
  font-family: "Josefin Sans" sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.inputboxl::placeholder{
    color: hsl(233, 14%, 35%);
    font-family: "Josefin Sans" sans-serif;
    font-weight: 400;
    font-size: 18px;
  }
.inputboxl:focus{
  outline: none;
  border: none;
}

/* toggle radio */
.inputrad{
  border: 2px solid hsl(233, 14%, 35%);
  width: 25px;
  height: 25px;
  background-color: transparent;
  position: relative;
  top: 43px;
  left: 18px;
  border-radius: 50%;
}

/* toggle light and dark mode */

.inputradl{
  border: 2px solid  hsl(233, 11%, 84%);
  width: 25px;
  height: 25px;
  background-color: transparent;
  position: relative;
  top: 43px;
  left: 18px;
  border-radius: 50%;
}

/* display  content */
.indieitems{
  width: 600px;
  height: 60px;
  background-color: hsl(235, 24%, 19%);
  border-radius: 0px 0px 0px 0px;
  border: none;
  display: flex;
  align-items: middle;
}
.indieitemsl{
  width: 600px;
  height: 60px;
  background-color: hsl(0, 0%, 98%);
  border-radius: 0px 0px 0px 0px;
  border: none;
  display: flex;
  align-content: middle;
}
.object{
  width: 600px;
  height: 60px;
  border-radius: 4px 4px 0px 0px;
  border: none;
  background-color: hsl(235, 24%, 19%);
  color:  hsl(0, 0%, 98%);
  font-family: "Josefin Sans" sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.object:hover{
  cursor: pointer;
}

/* toggle light and dark mode */
.objectl{
  width: 600px;
  height: 60px;
  border-radius: 4px 4px 0px 0px;
  border: none;
  background-color: hsl(0, 0%, 98%);
  color: hsl(237, 14%, 26%);
  font-family: "Josefin Sans" sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.objectl:hover{
  cursor: pointer;
}    


#objectradcl{
  border : 2px solid hsl(233, 11%, 84%);
} 
#objectradc{
  border : none;
} 
#objectradcd{
  border : 2px solid hsl(233, 14%, 35%);
} 


.objectrad{
  border: 2px solid hsl(233, 14%, 35%);
  width: 25px;
  height: 25px;
  background-color: transparent;
  position: relative;
  top: 19px;
  left: 18px;
  border-radius: 50%;
}
.objectrad:hover{
  cursor: pointer;
}
/* toggle done */
.objectraddone{
  width: 25px;
  height: 25px;
  background: linear-gradient(45deg,hsl(192, 100%, 67%),hsl(280, 87%, 65%));
  position: relative;
  top: 19px;
  left: 18px;
  border-radius: 50%;
  border: none;
}
.objectraddone:hover{
  cursor: pointer;
}
/* toggle check */
.objectcheck{
  display: none;
}
/* .objectchecked{ */
/* just use object checked to mak it show */

.objectrem{
  background-color: transparent;
  border: none;
  position: relative;
  top: 4px;
  right: 36px;
  margin: 0px;
  width: 0px;
}
.objectrem:hover{
  cursor: pointer;
}
.objectremNuse{
  background-color: transparent;
  border: none;
  /* position: relative;
  top: -366px;
  left: 550px; */
  margin: 0px;
  width: 0px;
  visibility: hidden;
}

/* indication of completed tasks */
#completed{
  text-decoration: line-through;
  color: hsl(234, 11%, 52%)
}
.objecttext{
  position: relative;
  /* top: 19px; */
  text-align: left;
  padding-left: 0px;
  left: 35px;
}






/* final shit */

/* last container styling */
.fincont{
  width: 600px;
  height: 40px;
  border-radius: 0px 0px 4px 4px;
  border: none;
  border-top: 1.7px solid hsl(233, 14%, 35%);
  background-color: hsl(235, 24%, 19%);
  color:  hsl(0, 0%, 98%);
  font-family: "Josefin Sans" sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.fincontl{
  width: 600px;
  height: 40px;
  border-radius: 0px 0px 4px 4px;
  border: none;
  border-top: 1.7px solid hsl(233, 11%, 84%);
  background-color: hsl(0, 0%, 98%);
  color: hsl(237, 14%, 26%);
  font-family: "Josefin Sans" sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.fin{
  font-family: "Josefin Sans" sans-serif;
  font-weight: 600;
  font-size: 14px;
  color:  hsl(233, 14%, 35%);
  position: relative;
  top: 4.5px;
  left: -125px;
}
.finl{
  font-family: "Josefin Sans" sans-serif;
  font-weight: 600;
  font-size: 14px;
  color:  hsl(236, 9%, 61%);
  position: relative;
  top: 4.5px;
  left: -125px;
}

.fina{
  font-family: "Josefin Sans" sans-serif;
  font-weight: 500;
  font-size: 14px;
  /* color:hsl(220, 98%, 61%); */
  color: hsl(233, 14%, 35%);
  background-color: transparent;
  border: none;
  position: relative;
  top: 4.5px;
  left: 5px;
}
.fina:hover{
  color: hsl(0, 0%, 98%);
  cursor: pointer;
}
.final{
  font-family: "Josefin Sans" sans-serif;
  font-weight: 500;
  font-size: 14px;
  /* color:hsl(220, 98%, 61%); */
  color:  hsl(236, 9%, 61%);;
  background-color: transparent;
  border: none;
  position: relative;
  top: 4.5px;
  left: 5px;
}
.final:hover{
  color: hsl(233, 14%, 35%);
  cursor: pointer;
}
.finb{
  font-family: "Josefin Sans" sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: hsl(233, 14%, 35%);
  background-color: transparent;
  border: none;
  position: relative;
  top: 4.5px;
  left: 18px;
}
.finb:hover{
  color: hsl(0, 0%, 98%);
  cursor: pointer;
}

/* toggle*/
.finbl{
  font-family: "Josefin Sans" sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: hsl(236, 9%, 61%);
  background-color: transparent;
  border: none;
  position: relative;
  top: 4.5px;
  left: 18px;
}
.finbl:hover{
  color: hsl(233, 14%, 35%);
  cursor: pointer;
}
/* end */

.finc{
  font-family: "Josefin Sans" sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: hsl(233, 14%, 35%);
  background-color: transparent;
  border: none;
  position: relative;
  top: 4.5px;
  left: 30px;
}
.finc:hover{
  color: hsl(0, 0%, 98%);
  cursor: pointer;
}

/* toggle */
.fincl{
  font-family: "Josefin Sans" sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: hsl(236, 9%, 61%);
  background-color: transparent;
  border: none;
  position: relative;
  top: 4.5px;
  left: 30px;
}
.fincl:hover{
  color: hsl(233, 14%, 35%);
  cursor: pointer;
}
/* end */

.find{
  font-family: "Josefin Sans" sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: hsl(233, 14%, 35%);
  background-color: transparent;
  border: none;
  position: relative;
  top: 4.5px;
  left: 123px;
}
.find:hover{
  color: hsl(0, 0%, 98%);
  cursor: pointer;
}

/* toggle */
.findl{
  font-family: "Josefin Sans" sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: hsl(236, 9%, 61%);
  background-color: transparent;
  border: none;
  position: relative;
  top: 4.5px;
  left: 123px;
}
.findl:hover{
  color: hsl(233, 14%, 35%);
  cursor: pointer;
}
/*the fucking beautiful end */

#all_blue{
  color: hsl(220, 98%, 61%);
}
#active_blue{
  color: hsl(220, 98%, 61%);
}
#comp_blue{
  color: hsl(220, 98%, 61%);
}

@media (min-width: 600px){
  #mobile{
    display: none;
  }
}
/* i am fucking done */